a {
    text-decoration: none;
}


input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    font-family: "Arial Black";
    font-size: 14px;
    font-weight: bolder;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    min-height: 80vh;
}

footer {
    /*height: 100px;*/
    text-align: center;
    padding: 15px 0;
}

nav{
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 14px;
    border-bottom: saddlebrown 2px solid;
}
.nav-item {
    display: inline-block;
    position: absolute;
    top: 0;
}

.default-link{
    color: #04AA6D;
    text-decoration: none;
}

.default-link:hover {
    /*color: #048757;*/
    color: #04784d !important;
    text-decoration: none !important;

}
.nav-item:first-child{
    left: 20px;
    font-size: 32px;
}
.nav-item:last-child{
    top: 8px;
    right: 30px;
    font-size: 22px;
}

.button-add {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 140px;
    height: 46px;
}

.button-add:hover{
    background-color: #04784d;
    color: white;
    text-decoration: none;
}

.button-delete {
    background-color: #FF070E;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 140px;
    height: 46px;

}

.button-delete:hover{
    background-color: #BA070E;
    color: white;
    text-decoration: none;
}

.button-neutral {
    background-color: #BFBFBF;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 140px;
    height: 46px;
}

.button-neutral:hover{
    background-color: #939393;
    color: white;
    text-decoration: none;
}


.agency-card{
    margin-top: 30px;
    width: 60%;
}

.contact-card{
    margin-top: 30px;
    width: 60%;
}

.agency-card:first-child{
    margin-top: 50px;
}

#agency-contacts{
    margin-bottom: 40px;
}
/*.logout {*/
    /*width: 32px;*/
/*}*/
